@charset "ISO-8859-1";

header{
	display: block;
	height:120px;
	font-family: 'Krona One', sans-serif;
	background-color: #a1eafb;
	
}
header a{
	color:black;
	text-decoration: none;
	position:relative;
	font-weight: bold;
	top:-45%;
	font-size:
}
header img{
	height:74%;
	width:9%;
	margin:8px;
	padding:6px;
}





















